.img-responsive{
	max-width: 70%;
	height: 70%;
	display:block;
}
li{
	list-style:  	 none;
}
.cab {
	margin-top: 200px;
	margin: auto;
	height: 700px;
}
header{
	color:white;
	background-image: url(../img/background/hero.jpg) ;
	background-size: cover;
	background-color: #ccc;
	 opacity: 1.5;

}
 ul li{
 	text-align: center;
 	max-width: 30%;
 	margin: 15px;
 	padding: 4.9%;
 	display: inline-block;
 	position: relative;
 	color: #8E8C8C;
 	font-size: 12px;

 }
 li h4{
 	color:#525151;
 }
 ul li span{
 	color:#11A8EE;
 	max-width: 100%;
 	height: 100%;
 	font-size: 30px;
 }
#features{
	max-width: 100%;
	height: 200px;
}
.conteiner{
	max-width: 80%;
	margin: auto;
}

.more{
	background: #ECEEEE;
	background-size: cover;
text-align: center;
	max-width: 100%;
	padding: 4%;
}

.more img{
	max-width: 100%;
	margin: auto;

}